@font-face {
  font-family: 'iconfont';  /* project id 1536432 */
  src: url('https://at.alicdn.com/t/font_1536432_hra4g4lnujc.eot');
  src: url('https://at.alicdn.com/t/font_1536432_hra4g4lnujc.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1536432_hra4g4lnujc.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1536432_hra4g4lnujc.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1536432_hra4g4lnujc.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1536432_hra4g4lnujc.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e6a3";
}

.icon-jishufuwu:before {
  content: "\eb64";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-gongyezujian-yibiaopan:before {
  content: "\eb94";
}

.icon-tubiao-qiapian:before {
  content: "\eb95";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-tubiao-zhuzhuangtu:before {
  content: "\eb97";
}

.icon-biaodanzujian-biaoge:before {
  content: "\ec15";
}

.icon-phone-fill:before {
  content: "\e86d";
}

.icon-gongdan:before {
  content: "\ec37";
}

.icon-daibanshixiang:before {
  content: "\ec4e";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-liebiao:before {
  content: "\e60a";
}

.icon-zhunbeiliangchan:before {
  content: "\ecaa";
}

.icon-shebeikaifa:before {
  content: "\ecac";
}

.icon-people:before {
  content: "\e715";
}

.icon-remind:before {
  content: "\e71f";
}

